export PATH="${PATH}:~/.local/bin"
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export SSH_AUTH_SOCK
picom &
dunst &
xmodmap ~/.xmodmaprc
udiskie &
xfce4-clipman &
kdeconnect-indicator &
xset dpms 600 &
xrdb .Xresources &
{{ #SCREENLAYOUT }}
exec {{ SCREENLAYOUT }}
{{ /SCREENLAYOUT }}
