#!/bin/sh
polybar-msg cmd quit
polybar main & disown

{{ #LAPTOP }}
polybar ext & disown
{{ /LAPTOP }}

{{#SIDE_MONITORS}}
polybar ext__{{.}} & disown
{{/SIDE_MONITORS}}

xdo id -m -N Polybar && polybar-msg cmd hide
